.stream-options-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    color: black;
}

.choose {
    font-size: 2rem;
    margin-right: 11rem;

}

.choose-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.choose-div i {
    font-size: 2rem;
    cursor: pointer;
    transition-duration: 400ms;
}

.choose-div i:hover {
    transform: rotate(360deg);
}

.stream-options-overlay .container {
    background: rgba(255, 255, 255, 0.8);
    border-top: 100vh solid rgba(0, 0, 0, 1);
    border-bottom: 100vh solid rgba(0, 0, 0, 1);
    backdrop-filter: blur(8px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    flex-direction: column;
}

.stream-option {
    text-align: center;
    min-width: 50%;
    margin-bottom: 1.4rem;
    font-size: .9rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid black;
    border-radius: 1vw;
    padding: 1vw;
    cursor: pointer;
    transition: all;
    transition-duration: 200ms;
}

.stream-option:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}