main .films-holder .film {
    width: 10.3vw;
    align-self: flex-start;
}

main .films-holder .film.hidden {
    opacity: 0%;
}

main .films-holder .banner {
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.15%, #000000 100%), url(../../assets/the\ office.jpg); */
    /* background-size: contain !important; */
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 0;
    padding-top: 145%;
    cursor: pointer;
    background-position: center;
    /* background-position-y: -6px !important; */
}

main .films-holder .banner .fa-star {
    font-size: 1.3vw;
    position: relative;
    top: -2.8vw;
    margin-left: .4vw;
    color: #E7C200;
    cursor: pointer;
}

main .films-holder .banner .fa-play-circle {
    padding: 0.1vw;
    font-size: 1.8vw;
    position: relative;
    top: -2.7vw;
    margin-left: .4vw;
    right: -5.7vw;
    filter: drop-shadow(0 0 0.4rem black);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0.67)));
    -webkit-background-clip: text;
    background-clip:text;
	-webkit-text-fill-color: transparent;
    cursor: pointer;
}

main .films-holder .title {
    display: block;
    display: -webkit-box;
    text-align: center;
    margin-top: 1vh;
    font-size: 1.1vw;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    /* height: calc(1.1vw * 1.15 * 2); */
}

main .films-holder .duration {
    text-align: center;
    margin-top: .3vh;
    font-size: 1.1vw;
    color: #C7C7C7;
    font-family: 'Ropa Sans', 'Roboto', sans-serif;
}