@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Ropa+Sans&display=swap');

body {
    background: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 1.3rem 1.6rem;
    margin-right: 4rem;

    display: flex;
    overflow-y: hidden;
}