main {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

main .films-holder .row {
    display: flex;
    margin-top: 2.5vw;
    height: 18.5vw;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    height: calc(100% - 5vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.response {
    position: absolute;
    width: 61.5%;
}

.response .row {
    visibility: hidden;
}

.response-box {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.response-box>div,
.response-box img {
    width: 50%;
}

.response-box>div h2 {
    font-size: 3rem;
}

.response-box>div h3 {
    font-size: 1.4rem;
}

@media screen and (max-width: 1920px) and (max-height:960px) {
    main .films-holder .row:nth-child(2) {
        margin-top: .2vw !important;
    }

    main .films-holder .row:nth-child(1){
        margin-top: 3vw;
    }
}

@media screen and (min-width: 1921px) and (max-height:1300px) {
    main .films-holder .banner {
        padding-top: 125% !important;
    }
}

@media screen and (min-aspect-ratio: 2/1) and (max-height: 600px){
    .recomended {
        margin-top: 1.2rem;
        justify-content: initial !important;
    }

    .recomended h2 {
        visibility: hidden;
    }
}

@media screen and (min-aspect-ratio: 2/1) {
    html, body, #root {
        height: fit-content !important;
    }

    body {
        overflow-y: scroll;
    }

    .main-content {
        display: block;
    }

    main .films-holder .banner {
        padding-top: 145% !important;
    }
}

@media screen and (max-width: 800px){
    html {
        font-size: 4vw !important;
    }

    body {
        margin: 1rem !important;
        overflow-y: scroll !important;
        height: fit-content !important;
        padding-bottom: 1rem !important;
    }

    #root {
        flex-direction: column !important;
        height: fit-content !important;
        overflow-x: hidden !important;
    }

    .side-menu {
        width: 100% !important;
        padding-right: 0px  !important;
        margin-bottom: 1.5rem  !important;
    }

    .side-menu .search {
        border-radius: 1vw  !important;
    }

    .fas.fa-search {
        margin-left: -4vw  !important;
    }

    .recomended {
        display: none  !important;
    }

    main form {
        display: flex !important;
        flex-wrap: wrap !important;
        margin-left: -0.6rem !important;
        margin-right: -0.6rem !important;
    }

    .actionBtn {
        border-radius: 1vw !important;
        margin-right: 0.6rem !important;
        margin-left: 0.6rem !important;
        margin-bottom: 1.5rem !important;
        flex: 1 0 auto !important;
    }

    .fas.fa-cog {
        display: none !important;
    }

    .main-content {
        height: fit-content !important;
    }

    .films-holder {
        display: flex !important;
        margin-left: 0rem !important;
        margin-right: -2rem !important;
        height: fit-content !important;
    }

    .row {
        margin-top: 0px !important;
        flex-direction: column !important;
        height: fit-content !important;
        width: 50% !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }

    .film {
        -webkit-tap-highlight-color: transparent !important;
        width: calc(100% - 2rem) !important;
        margin-bottom: 2rem !important;
    }

    .fa-star {
        font-size: 9vw !important;
        top: -11.4vw !important;
        margin-left: 1vw !important;
    }

    .fa-play-circle {
        font-size: 9vw !important;
        top: -11.4vw !important;
        right: -19.5vw !important;
    }

    .films-holder .title {
        font-size: 5vw !important;
        -webkit-line-clamp: 1 !important;
        line-clamp: 1 !important;
    }

    .films-holder .duration {
        font-size: 5vw !important;
    }

    .footer {
        -webkit-tap-highlight-color: transparent !important;
        margin-top: 0rem !important;
        flex-direction: column !important;
    }

    .page-indexer {
        align-self: center !important;
        margin-bottom: 2rem !important;
        margin-top: 1rem !important;
    }

    .footer .page-indexer li:not(.dots) {
        width: 10vw !important;
        height: 10vw !important;
        border-radius: 2vw !important;
    }

    .page-indexer li.dots {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .page-indexer li.dots>div {
        width: 1vw !important;
        height: 1vw !important;
        background-color: #5A5A5A !important;
        border-radius: 100% !important;
    }

    .close {
        text-align: center !important;
        text-shadow: 0px 3px 5px black;
        margin-bottom: 2rem !important;
    }

    .blur-content-contrainer {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
        margin: 0px !important;
    }

    .system-information {
        width: 100% !important;
        font-size: 90% !important;
        text-align: center !important;
    }

    .video-controls {
        margin-top: -24% !important;
        padding: 0rem 1rem !important;
    }

    .subtitles.noControls {
        margin-top: -30% !important;
    }

    .subtitles {
        margin-top: -50% !important;
    }

    .blur-content-container .volume-contrainer:hover {
        background: unset !important;
    }
    
    .blur-content-container .volume-contrainer:hover i {
        color: unset !important;
    }
    
    .blur-content-container .volume-contrainer:hover .volumeSlider {
        display: none;
        width: unset !important;
        opacity: unset !important;
    }
    
    .blur-content-container .volume-contrainer:hover .volumeSlider::-webkit-slider-thumb {
        border-radius: unset !important;
    }

    .text-timestamp {
        display: none;
    }
}

@media screen and (max-height: 800px) and (orientation: landscape) {
    .close {
        text-align: right !important;
        text-shadow: 0px 3px 5px black;
        margin-bottom: 2vw !important;
    }

    .blur-content-container{
        margin-top: 2vw !important;
    }

    .video-controls {
        margin-top: -28vh !important;
        padding-bottom: 0.5rem !important;
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }

    .top-row {
        font-size: .6rem !important;
    }

    .volumeIcon {
        font-size: .75rem !important;
    }

    .subtitles.noControls {
        margin-top: -15% !important;
    }

    .subtitles {
        margin-top: -25% !important;
    }

    .subtitles-row {
        font-size: .6rem !important;
        border-radius: .2rem !important;
    }

    .text-timestamp {
        display: initial !important;
    }
}