main {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

main .films-holder .row {
    display: flex;
    margin-top: 2.5vw;
    height: 18.5vw;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    height: calc(100% - 5vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.response {
    position: absolute;
    width: 61.5%;
}

.response .row {
    visibility: hidden;
}

.response-box {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.response-box>div,
.response-box img {
    width: 50%;
}

.response-box>div h2 {
    font-size: 3rem;
}

.response-box>div h3 {
    font-size: 1.4rem;
}

@media screen and (max-width: 1920px) and (max-height:960px) {
    /* main .films-holder .banner {
        padding-top: 140% !important;
    } */

    main .films-holder .row:nth-child(2) {
        margin-top: .2vw !important;
    }

    main .films-holder .row:nth-child(1){
        margin-top: 3vw !important;
    }
}

@media screen and (min-width: 1921px) and (max-height:1300px) {
    main .films-holder .banner {
        padding-top: 125% !important;
    }
}